body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px 30px;
  font-size: 18px;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: rgb(10, 10, 10);
  height: 46px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding-left: 0px;
}

.warble-img {
  width: 30px;
  height: 30px;
  float: left;
}

.warble-title {
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-svg,
.cancel-svg {
  background-color: rgb(20, 20, 20);
  padding: 9px;
}

#search-box {
  background-color: rgb(20, 20, 20);
  color: white;
  width: 450px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: none;
}

.right-buttons-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.short-info {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  font-style: italic;
}

.main {
  display: flex;
}

.left-sidebar {
  background-color: rgb(10, 10, 10);

  padding: 0px 20px;
  margin: 20px 0px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid rgb(90, 90, 90);
}

.showcase-container {
  display: flex;
  flex-direction: column;
}

.showcase-title {
  padding-bottom: 15px;
  text-align: center;
}

.song-cover {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.player {
  padding: 13px 0px;
  border-bottom: 1px solid rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.author-box {
  display: flex;
  gap: 10px;
}

.author-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-infobox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.author-info {
  font-size: 10px;
}

.queue {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queue-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.song-info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songs-in-queue {
  display: flex;
  gap: 10px;
}

.song-covers-in-queue {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.song-title,
.playlist-title {
  font-weight: bold;
  font-size: 15px;
}

.author-nickname-in-queue {
  font-size: 12px;
}

.more-button {
  height: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  margin: 20px;
}

.short-song-menu {
  display: flex;
  height: 70px;
  background-color: beige;
}

/* New Releases */

.new-releases-section,
.rpc-section,
.categories-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rpc-title-box,
.categories-title-box {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}

.turn-pages-buttons {
  display: flex;
  gap: 20px;
}

.turn-pages-buttons img {
  height: 25px;
}

.new-releases-list {
  display: flex;
  gap: 24px;
}

.rpc-list,
.categories-group1-list,
.categories-group2-list,
.categories-group3-list {
  gap: 24px;
  display: flex;
}

.new-release-box {
  display: flex;
  gap: 10px;
}

.rpc-box,
.categories-groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-release-cover {
  height: 110px;
  width: 110px;
  border-radius: 10px;
}

.rpc-cover {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.new-release-infobox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 162px;
}

.new-releases-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-button {
  width: 25px;
}

.new-release-title-box .song-title {
  height: 40px;
  display: flex;
  align-items: center;
}

.rpc-playlist-title {
  width: 174px;
  padding: 0px 3px;
}

.new-release-author-box {
  width: 162px;
  display: flex;
  gap: 7px;
}

.rpc-author-box {
  width: 174px;
  display: flex;
  gap: 7px;
  padding: 0px 3px;
}

.new-release-author-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.new-release-author-info {
  font-size: 9px;
}

.new-releases-scroll-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid gray;
}

.scroll-button {
  width: 30px;
}

.small-horizontal-line {
  height: 2px;
  width: 30px;
  background-color: rgb(185, 185, 185);
}

/* Recently played Section */

.rpc-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.rpc-title-list {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px 5px;
}

.small-vertical-line {
  width: 2px;
  height: 16px;
  background-color: white;
}

.gray {
  color: gray;
}

.yellow {
  color: gold;
}

.author-playlist {
  color: rgb(224, 224, 224);
}

/* Categories Sections */

.closed-category-title {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.sort-categories {
  display: flex;
  align-items: center;
}

.sort-categories-down-button {
  height: 22px;
  width: 22px;
}

.categories-group1-list li,
.categories-group2-list li {
  background-color: #1d1d1d;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.categories-group1-list .selected-genre {
  outline: 1px solid rgb(160, 160, 160);
}

.categories-group2-list .view-all-categories {
  background-color: rgb(10, 10, 10);
}

.rock-section {
  display: flex;
  gap: 20px;
}

.rock-songs {
  background-color: #1d1d1d;
  width: 284px;
  height: 500px;
  border-radius: 10px;
}

.rock-rpa {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rock-new-releases {
  background-color: #1d1d1d;
  height: 130px;
  width: 1304px;
  border-radius: 10px;
}

.rock-playlists {
  background-color: #1d1d1d;
  height: 175px;
  width: 1304px;
  border-radius: 10px;
}

.rock-artists {
  background-color: #1d1d1d;
  height: 175px;
  width: 1304px;
  border-radius: 10px;
}

.items-container {
  display: flex;
  gap: 24px;
}

.item {
  background-color: #1d1d1d;
  width: 384px;
  height: 250px;
  border-radius: 10px;
}
