body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px 30px;
  font-size: 18px;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: rgb(10, 10, 10);
  height: 46px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding-left: 0px;
}

.warble-img {
  width: 30px;
  height: 30px;
  float: left;
}

.warble-title {
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-svg,
.cancel-svg {
  background-color: rgb(20, 20, 20);
  padding: 9px;
}

#search-box {
  background-color: rgb(20, 20, 20);
  color: white;
  width: 450px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: none;
}

.right-buttons-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.short-info {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  font-style: italic;
}

.main {
  display: flex;
}

.left-sidebar {
  background-color: rgb(10, 10, 10);

  padding: 0px 20px;
  margin: 20px 0px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid rgb(90, 90, 90);
}

.showcase-container {
  display: flex;
  flex-direction: column;
}

.showcase-title {
  padding-bottom: 15px;
  text-align: center;
}

.song-cover {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.player {
  padding: 13px 0px;
  border-bottom: 1px solid rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.author-box {
  display: flex;
  gap: 10px;
}

.author-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-infobox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.author-info {
  font-size: 10px;
}

.queue {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queue-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.song-info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songs-in-queue {
  display: flex;
  gap: 10px;
}

.song-covers-in-queue {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.song-title,
.playlist-title {
  font-weight: bold;
  font-size: 15px;
}

.author-nickname-in-queue {
  font-size: 12px;
}

.more-button {
  height: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  margin: 20px;
}

.short-song-menu {
  display: flex;
  height: 70px;
  background-color: beige;
}

/* New Releases */

.new-releases-section,
.rpc-section,
.categories-section,
.recommendations-section,
.mla-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rpc-title-box,
.categories-title-box,
.recommendations-title-box,
.mla-title-box {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}

.turn-pages-buttons {
  display: flex;
  gap: 20px;
}

.turn-pages-buttons img {
  height: 25px;
}

.new-releases-list {
  display: flex;
  gap: 30px;
}

.rpc-list,
.categories-group1-list,
.categories-group2-list,
.categories-group3-list,
.recommendations-list,
.mla-list {
  gap: 24px;
  display: flex;
}

.new-release-box {
  display: flex;
  gap: 10px;
}

.rpc-box,
.categories-groups,
.recommendations-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-release-cover {
  height: 90px;
  width: 90px;
  border-radius: 10px;
}

.rpc-cover {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.new-release-infobox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.new-releases-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-button {
  width: 25px;
}

.new-release-title-box .song-title {
  height: 40px;
  display: flex;
  align-items: center;
}

.rpc-playlist-title,
.recs-artist-title {
  width: 174px;
  padding: 0px 3px;
}

.new-release-author-box {
  display: flex;
  gap: 7px;
}

.rpc-author-box,
.recs-artist-box {
  width: 174px;
  display: flex;
  gap: 7px;
  padding: 0px 3px;
}

.new-release-author-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.new-release-author-info {
  font-size: 9px;
}

.new-releases-scroll-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid gray;
}

.new-releases-scroll-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.next-circle {
  width: 20px;
}

.previous-circle {
  width: 20px;
}

/* Recently played Section */

.rpc-title,
.mla-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.rpc-title-list {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px 5px;
}

.small-vertical-line {
  width: 2px;
  height: 16px;
  background-color: white;
}

.gray {
  color: gray;
}

.yellow {
  color: gold;
}

.author-playlist {
  color: rgb(224, 224, 224);
}

/* Categories Sections */

.closed-category-title {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.sort-categories {
  display: flex;
  align-items: center;
}

.sort-categories-down-button {
  height: 22px;
  width: 22px;
}

.categories-group1-list li,
.categories-group2-list li {
  background-color: #1d1d1d;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.categories-group1-list .selected-genre {
  outline: 1px solid rgb(160, 160, 160);
}

.categories-group2-list .view-all-categories {
  background-color: rgb(10, 10, 10);
}

.rock-section {
  display: flex;
}

.rock-songs {
  /* background-color: #1d1d1d; */
  width: 284px;
  height: 521px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rock-recs-title {
  display: flex;
  justify-content: center;
}

.rock-recs-songs-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.rock-recs-song {
  display: flex;
  justify-content: space-between;
}

.rock-recs-info {
  display: flex;
  gap: 8px;
}

.rock-recs-song-cover {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.author-nickname-rock {
  font-size: 12px;
  color: rgb(192, 192, 192);
}

.rock-rpa {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rock-new-releases {
  /* background-color: #1d1d1d; */
  height: 110px;
  width: 1284px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.rock-nr-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.rock-nr-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rock-nr-title-box .options-button {
  width: 20px;
}

.rock-nr-list {
  display: flex;
  justify-content: space-between;
}

.rock-nr-box {
  display: flex;
  gap: 10px;
}

.rock-nr-cover {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.rock-nr-infobox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80px;
}

.rock-nr-title-box .song-title {
  font-size: 13px;
}

.rock-nr-author-box {
  display: flex;
  gap: 7px;
}

.rock-nr-author-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.rock-nr-author-nickname {
  font-size: 14px;
}

.rock-nr-author-info {
  font-size: 7px;
}

.rock-nr-scroll-line {
  position: relative;
  width: 1284px;
  height: 1px;
  background-color: rgb(143, 143, 143);
}

.line {
  position: relative;
  margin-top: 3px;
}

.line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background: rgb(141, 141, 141);
}

.line::after {
  content: "";
  position: absolute;
  left: 18%;
  right: 80%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: white;
  border-radius: 4px;
}

.rock-playlists {
  height: 175px;
  width: 1284px;
  border-radius: 10px;
  padding: 10px;
}

.rock-plts-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.rock-plts-list {
  display: flex;
  justify-content: space-between;
}

.rock-plt-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rock-plt-title {
  width: 114px;
  padding: 0px 3px;
}

.rock-plt-box .playlist-title {
  font-weight: 500;
  font-size: 14px;
}

.rock-plt-cover {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.rock-artists {
  height: 175px;
  width: 1284px;
  border-radius: 10px;
  padding: 10px;
}

.rock-artist-cover {
  height: 120px;
  width: 120px;
  border-radius: 60px;
}

.rock-artist-title {
  width: 120px;
  display: flex;
  justify-content: center;
}

.rock-artist-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rock-artist-box .playlist-title {
  font-weight: 700;
  font-size: 14px;
}

/* Most Listened Artists */

.mla-card {
  background-color: #1d1d1d;
  width: 354px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.mla-artist {
  height: 70px;
  background-color: aliceblue;
  display: flex;
  gap: 15px;
}

.mla-songs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mla-song {
  height: 48px;
  background-color: aquamarine;
}

/* Recommendations */

.recommendations-title {
  font-size: 18px;
  font-weight: bold;
}

.recommendations-box {
  align-items: center;
}

.recs-square-cover {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.recs-circle-cover {
  height: 180px;
  width: 180px;
  border-radius: 90px;
}

.recs-artist-title {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.recs-artist-box {
  font-size: 14px;
  justify-content: center;
}

/* Trends */

.trends-list {
  display: flex;
  gap: 24px;
}

.trends-song {
  background-color: #1d1d1d;
  width: 384px;
  height: 180px;
  border-radius: 10px;
}
